<div class="modal-part" id="modal-reset-akun-mahasiswa">
    <p>Anda yakin ingin mereset password akun mahasiswa? Password lama tidak dapat dikembalikan.</p>
    <div class="form-group mb-0">
        <div class="custom-control">
            <!-- pesan hasil reset password -->
            <div id="hasilReset">
            </div>
        </div>
    </div>
</div>