<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Halaman Index Admin</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
</head>
<body>
    <h1>Halaman Admin. Tes tampilkan data</h1>
    <% dataPemohon.forEach(function(data){ %>
        <ul>
            <li><%= data.nim_permohonan_keanggotaan %></li>
            <li><%= data.nama_permohonan_keanggotaan %></li>
        </ul>
    <% }); %>
</body>
</html>